
.center{
  margin:30px auto;
  width: 1200px;
}
img{
  transition: all .2s;
  filter: blur(1.5px);
  outline-offset: 5px;
  animation: moveIMG .4S ease-out  ;


}
img:hover{
  transform: scale(1.02);
  filter: blur(0);
  outline: 7px solid rgb(61, 167, 61);


}
.cardbody{
  animation: moveCarBody .6S ease-out  ;

}
.primary-heading{
   background: linear-gradient(to right,lightgreen,darkgreen);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  transition: all .2s;
}
@keyframes moveIMG{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveCarBody{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
.primary-heading:hover{
 text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.301);
 transform: skewX(15deg) skewY(2deg) scale(1,1);

}
.explain-text{
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.623);
}
.date-text{
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.438);
}